<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linecorp.lich.sample.base">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication" />

</manifest>
