<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linecorp.lich.sample.feature">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/feature_foo_title">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".foo.FooFeatureActivity" />
        <activity android:name=".bar.BarFeatureActivity" />
    </application>

</manifest>
